<%= form_with(model: delivery_info, local: true) do |form| %>
  <% if delivery_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery_info.errors.count, "error") %> prohibited this delivery_info from being saved:</h2>

      <ul>
      <% delivery_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :delivery_info_address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :delivery_info_address2 %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :delivery_info_phone %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :delivery_info_customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
